img {
    width: 100%;
    height: auto;
}

.contact-label{
    text-align: right;
    color: white;
}

.contact-info{
    text-align: left;
    color: #6D6D6D;
}

.name-box{
    color: white;
    display: flexbox;
}

.contact{
    font-size: 10pt;
    display: flexbox;
    align-self: center;
}

.empty-percentage-bar{
    margin: 5px;
    background-color: #3A3A3A;
    position: relative;
    width: 150px;
    height: 15px;
    border-radius: 5px;
}

.filled-percentage-bar{
    background-color: #317BA2;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    text-align: right;
    color: white;
    font-family: 'Gill Sans';
    font-size: 10pt;
}

.percent-label{
    font-family: 'Gill Sans';
    margin: 5px;
    color: white;
    font-size: 10pt;
}

.base-box{
    margin: auto; 
    width: 700px; 
    background-color: #282828; 
    position: absolute;
    top: 0px;
    left: 33%;
    right: 33%;
}

.container {
    display: flex;
    margin: auto; 
    width: 700px; 
    background-color: #282828;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 100%;
}

.bio {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 100%;
}

.picture {
    margin: 10px;
    width: 150px;
    display: flex;
}
p {
    color: #6D6D6D;
    font-size: 8pt;
    margin: 5px 20px 5px 20px;
}

.portfolio-body {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 100%;
}

.drop-down-header-background{
    margin: 5px;
    background-color: #3A3A3A;
    position: relative;
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
}

.drop-down-header-icon{
    background-color: #3FA5D5;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

#employment-header{
    color: white;
    position: absolute;
    left: 50px;
}

.entry{
    display: flex;
    flex-direction: column;
}

.entry-header{
    display: flex;
}

.emp-ed-entry-icon{
    border-radius: 100px;
    background-color: #3FA5D5;
    width: 20px;
    height: 20px;
    color: white;
    font-family: 'Gill Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
}

.emp-ed{
    display: flex;
    flex-direction: column;
}

.employment{
    display: flex;
    flex-direction: column;
}

.programming-skills{
    display: flex;
    flex-direction: column;
}

hr{
    width: 100%;
}

.hr-container{
    margin: 0px 10px 0px 10px;
}

/*<div style="margin: auto; width: 700px; background-color: #282828; position: relative;"">
        <div style="display: inline-block;">
            <img
                src="https://media-exp1.licdn.com/dms/image/C4D03AQFEp9VrLbx1Hw/profile-displayphoto-shrink_800_800/0/1558893872210?e=2147483647&v=beta&t=uAXepymatKgGrWTYT2ABN0vIZIwdHOsj4gYp5xDj0ZY">
        </div>
        <div class="name-box">
            <h1
                style="margin-bottom: 0px; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                IAN POLIDORA</h1>
            <h5 style="margin-top: 0; color: #5097BD;">Full Stack Java Developer</h5>
        </div>
        <div class="contact" style="float: right;">
            <table>
                <tr>
                    <td class="contact-label">Name:</td>
                    <td class="contact-info">Ian Polidora</td>
                </tr>
                <tr>
                    <td class="contact-label">Date of Birth:</td>
                    <td class="contact-info">July 22, 2000</td>
                </tr>
                <tr>
                    <td class="contact-label">Address:</td>
                    <td class="contact-info">Pittsburgh, PA</td>
                </tr>
                <tr>
                    <td class="contact-label">Phone:</td>
                    <td class="contact-info">+1 (412) 804-8575</td>
                </tr>
                <tr>
                    <td class="contact-label">Email:</td>
                    <td class="contact-info">polidora2k@gmail.com</td>
                </tr>
                <tr>
                    <td class="contact-label">Website:</td>
                    <td class="contact-info">
                        <a href="https://github.com/polidora2k" target="_blank">https://github.com/polidora2k</a>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: inline-block;">
            <label class="percent-label" for="wordpress">Wordpress</label>
            <div class="empty-percentage-bar">
                <div class="filled-percentage-bar">90%</div>
            </div>
            <label class="percent-label" for="php">PHP</label>
            <div class="empty-percentage-bar">
                <div class="filled-percentage-bar" style="width: 75%; background-color: #3FA5D5;">75%</div>
            </div>
            <label class="percent-label" for="html">HTML</label>
            <div class="empty-percentage-bar">
                <div class="filled-percentage-bar" style="width: 93%; background-color: #69A138;">93%</div>
            </div>
            <label class="percent-label" for="css">CSS</label>
            <div class="empty-percentage-bar">
                <div class="filled-percentage-bar" style="width: 80%; background-color: #FBBE2C;">80%</div>
            </div>
            <label class="percent-label" for="mysql">MySQL</label>
            <div class="empty-percentage-bar">
                <div class="filled-percentage-bar" style="width: 70%; background-color: #E92E00;">70%</div>
            </div>
        </div>
        <div>
            <ul>
                <li>Adobe Photoshop</li>
            </ul>
        </div>
    </div>*/